#viewport {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

#pixel {
    position: absolute;
    left: calc(var(--x) * 1px);
    top: calc(var(--y) * 1px);
}

body {
    background-color: grey;
}