#viewport {
    aspect-ratio: 4 / 3;
    position: relative;
    overflow: hidden;
}

#pixel {
    position: absolute;
    left: calc(var(--x) * 1px);
    top: calc(var(--y) * 1px);
}

body {
    background-color: grey;
}